@include media-mx{
    .box{
        grid-template-columns: repeat(1, 1fr);    
    }
}
@include media-md{
    .box{
        grid-template-columns: repeat(2, 1fr);    
    }
}
@include media-lg{
    .box{
        grid-template-columns: repeat(3, 1fr);
    }
}
@include media-xl{
    .box{
        grid-template-columns: repeat(4, 1fr);
    }
}