$primary_color : orange;
$background_color : rgb(227, 227, 227);
$box_background_color : white;
$image_height : 50%;
$image_width : 50%;
$font_weight : bolder;
$font_size : larger;
$border_radius : 50px;