@import 'responsive';

body{
    margin: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.main{
    h1{
        text-align: center;
    }
    &_page{
        display: grid;
        grid-template-columns: repeat 1fr;
    
        &_box{
            padding: 3%;
        }
    }
}